:root {
    --main-background: purple;
    --main-font: "Times New Roman", Times, serif;
}

.header-wraper {
    height: auto;
    border-bottom: 1px solid purple;
}

.header-course-title {
    border-right: 1px solid purple;
    width: 35vw;
    padding-top: 3vh;
    padding-left: 3vh;
}

.header-progress-bar {
    border-right: 1px solid purple;
    width: 20vw;
    padding-right: 3vh;
    padding-top: 3vh;
    padding-left: 3vh;
}

.header-progress-bar > .progress {
    height: 0.75rem;
}

.sitebar-logo {
    height: 54px;
    border-bottom: 1px solid purple;
}

.header-user-panel {
    padding-right: 3vh;
    padding-top: 4.5vh;
    padding-left: 3vh;
    font-size: 16px;
}

.sitebar-admin-wraper {
    border-right: 1px solid purple;
    height: 100%;
    min-height: 100vh;
}

.col-2 {
    padding: 0 !important;
}

.col-10 {
    padding: 0 !important;
}

.sitebar-admin-wraper .img-thumbnail {
    border: none;
    background-color: 0;
    padding: 0;
}

.sitebar-admin-course-list {
    padding-top: 3vh;
    padding:0;
}
.sitebar-admin-course-list > li{
    border-top: 1px solid black;
   border-bottom: 1px solid black;
    list-style: none;
    padding-top:6vh;
    padding-left:4vw;
    padding-bottom: 3vh;

}
