html {
    scroll-behavior: smooth;
}

.sitebar-admin-wraper {
    margin-top: 30px;
}

.active.list-group-item-heading {
    background-color: #006036;
    font-weight: bold;
}

.active.list-group-item {
    background-color: #006036;
    font-weight: bold;
}

.btn-default:hover {
    background-color: #006036;
    color: white;
}

.list-group-item.active:hover {
    background-color: #006036;
    color: white;
}

.list-group-item:hover {
    background-color: #006036;
    color: white;
}

.list-group-item:hover {
    background-color: rgba(0, 96, 54, 0.9);
    color: white;
}

.question-number {
    margin-right: 15px;
}

.label-question {
    font-size: 20px;
}

.post-btn-container {
    padding: 8px;
    margin: 8px;
    display: flex;
    justify-content: space-between;
}

.btn-left {
    justify-self: flex-start;
    margin-right: auto;
}

.btn-right {
    justify-self: flex-end;
    margin-left: auto;
}

.user-certificate-name {
    position: absolute;
    margin-top: 120mm;
    margin-left: -20px;
    background-color: white;
    width: 210mm;
    text-align: center;
    height: 168mm;
    color: #363B51;
}

.user-certificate-name li {
    list-style: none;
}

.user-certificate-name > li:first-child {
    /*certyfikat title*/
    font-size: 64px;
    text-transform: uppercase;
}

.user-certificate-name > li:nth-child(2) {
    font-size: 56px;
    text-transform: capitalize;
}

.user-certificate-name > li:nth-child(3) {
    margin-bottom: 10px;
    font-size: 24px;
}

.user-certificate-name > li:nth-child(4) {
    margin-bottom: 10px;
    font-size: 24px;
}

.user-certificate-name > li:nth-child(5) {
    font-size: 32px;
}

.user-certificate-name > li:nth-child(6) {
    font-size: 22px;
    margin-top: 50px;
    text-align: left;
}

.user-certificate-name > li:nth-child(7) > ul li {
    text-align: left;
    font-size: 20px;
}

#btns-container > .btn-primary {
    float: unset;
}

#certificateDownloadAlert {
    display: flex;
    align-items: center;
}

#certificateDownloadAlert > button {
    margin-left: 8px;
}
